<p style="color: green"><%= notice %></p>

<h1>Friends List</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
    <%= button_to "Destroy this friend", @friend, method: :delete %>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
